@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
:root {
  --main-fnt-clr: rgb(255, 255, 255);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--main-fnt-clr);
}

.background {
  position: relative;
  width: 100%;
  height: 100vh;

  background: url("/images/bgimage.jpg") center/cover no-repeat;
}

/* Add dark overlay */
.background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(
    0,
    0,
    0,
    0.79
  ); /* Adjust opacity (0 = transparent, 1 = solid black) */
}

header {
  position: relative;
  color: white;
  text-align: center;
}

.top-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.top-content select {
  display: inline-block;
  padding: 6px;
  width: 110px;
  border: 0.5px solid gray;
  border-radius: 4px;
  background-color: black;
  font-size: 1rem;
  font-weight: 600;
  color: rgb(244, 246, 246);
}
.top-content img {
  margin: 15px 0px 0px 120px;
}
header .top-content .second {
  background-color: red;
  padding: 6px;
  font-size: 1rem;
  font-weight: 600;
  width: 75px;
  border-radius: 4px;
  color: rgb(244, 246, 246);
  border: none !important;
  margin-right: 150px;
  margin-left: 10px;
  cursor: pointer;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.title section {
  max-width: 1920px;
}
.title h1 {
  display: block;
  font-weight: 900;
  font-size: 3rem;
  word-spacing: 5px;
  letter-spacing: 2px;
  text-align: center;
  font-family: "Anton", sans-serif;
  width: 450px;
  margin: 0px 0px 10px 0px;
}
.title span {
  display: block;
}
.title h4 {
  font-size: 1.5rem;
  font-weight: 500;
  width: 432px;
  margin: 0;
}
.title p {
  font-size: 1.1rem;
  width: 432px;
}
header form input[type="search"] {
  padding: 18px 180px 18px 18px;
  background-color: transparent;
  border-radius: 5px;
  color: white;
  border: 1px solid rgb(125, 125, 125);
}
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}
header form input[type="search"]::placeholder {
  font-size: 1.1rem;
  color: rgb(210, 211, 211);
}
header .get-started {
  background-color: red;
  color: white;
  width: 180px;
  padding: 18px 100px 18px 30px;
  border-radius: 5px;
  margin-left: 6px;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}
main {
  min-height: 100vh;
  margin: 0;
  padding: 10px 0px 0px 0px;
  background-color: rgb(2, 3, 26);
}

main .main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}
.main-content ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 10px 0px 10px;
}
.main-content ul li {
  margin: 0px 10px 20px 10px;
}
.main-content ul li img {
  border-radius: 7px;
}
main .trending {
  color: white;
}
/* main .trending */
h3 {
  margin: 0px 0px 20px 150px;
  font-size: 1.7rem;
  font-weight: 400;
  font-family: "Anton", sans-serif;
}
.data-container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
}
.wrapper {
  width: 260px;
  height: 270px;
  margin: 0px 10px 0px 10px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: rgb(9, 3, 39);
}
.wrapper h2,
p {
  text-align: center;
}
.wrapper p {
  padding: 0px 10px 0px 10px;
}
