@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
:root {
  --main-fnt-clr: rgb(255, 255, 255);
}

body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  box-sizing: border-box;
  color: var(--main-fnt-clr);
  background-color: rgb(14, 13, 13);
}

.background {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("images/bgimage.jpg") center/cover no-repeat;
}

.background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.79);
}

header {
  position: relative;
  color: white;
  text-align: center;
}

.top-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.top-content select {
  display: inline-block;
  padding: 6px;
  width: 110px;
  border: 0.5px solid gray;
  border-radius: 4px;
  background-color: black;
  font-size: 1rem;
  font-weight: 600;
  color: rgb(244, 246, 246);
  cursor: pointer;
}
.top-content select:hover {
  opacity: 0.8;
}

.top-content img {
  margin: 15px 0px 0px 120px;
}
.top-content form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
}

header .top-content .second {
  background-color: red;
  padding: 6px;
  font-size: 1rem;
  font-weight: 600;
  width: 75px;
  border-radius: 4px;
  color: rgb(244, 246, 246);
  border: none !important;
  margin-right: 150px;
  margin-left: 10px;
  cursor: pointer;
}
header .top-content .second:hover {
  opacity: 0.9;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.title section {
  max-width: 1920px;
}

.title h1 {
  display: block;
  font-weight: 900;
  /* font-size: 3.7rem; */
  word-spacing: 5px;
  letter-spacing: 2px;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  width: 450px;
  margin: 0px 0px 10px 0px;
  font-size: clamp(1.8rem, 5vw, 3.7rem);
}

.title span {
  display: block;
}

.title h4 {
  font-size: 1.3rem;
  font-weight: 500;
  width: 432px;
  margin: 0;
}

.title p {
  font-size: clamp(0.8rem, 2.5vw, 1rem);
}

form .email-input {
  padding: 18px 180px 18px 18px;
  background-color: transparent;
  border-radius: 5px;
  color: white;
  margin-bottom: 20px;
  border: 1px solid rgb(125, 125, 125);
}

form .email-input:hover {
  opacity: 0.5;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

.email-input::placeholder {
  font-size: 1.1rem;
  color: rgb(210, 211, 211);
}

.get-started {
  background-color: red;
  color: white;
  width: 180px;
  padding: 18px 100px 18px 30px;
  border-radius: 5px;
  margin-left: 6px;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}
.get-started:hover {
  opacity: 0.8;
}
main {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  min-height: 100vh;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem 2rem 0rem 2rem;
  background-color: rgb(14, 13, 13);
}

main .main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}
.grand-parent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0;
  margin-left: auto;
  margin-right: auto;
}

.main-content ul li {
  margin: 0px 17px 20px 0px;
  list-style: none;
  width: 100%;
}

.main-content ul li img {
  border-radius: 7px;
  width: 100%;
  max-width: 100%;
  height: auto;
}
.main-content .edge-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 40px;
  width: 20px;
  padding: 25px 0;
  border-radius: 5px;
  background-color: rgb(49, 48, 48);
}
main .trending {
  display: flex;
  max-width: fit-content;
  align-items: center;
  justify-content: center;
  color: white;
  margin-left: 9%;
}

main h3 {
  display: flex;
  width: fit-content;
  font-size: 1.7rem;
  font-weight: 400;
  font-family: "Anton", sans -serif;
  margin: 15px 0px 0px 0px;
}

.data-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 20%;
  height: 250px;
  margin: 7px 10px 0px 0px;
  border-radius: 10px;
  background-color: rgb(20, 46, 80);
}

.wrapper h2,
p {
  text-align: center;
  color: rgb(222, 222, 228);
}

.wrapper p {
  font-size: 1.2rem;
  padding: 0px 10px 0px 10px;
}

footer {
  background-color: rgb(14, 13, 13);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 120px 0px 60px 0px;
}

footer .second {
  margin-bottom: 20px;
  padding-right: 400px;
}
@media (max-width: 1668px) {
  footer {
    margin-top: -10%;
  }
}
@media (max-width: 1280px) {
  .background {
    height: 90vh;
  }

  .grand-parent .main-content img {
    width: 100%;
    height: auto;
  }
  .grand-parent .main-content {
    margin-bottom: -30px;
  }
  .grand-parent ul li {
    width: 100%;
  }
  main .trending {
    margin-left: 1%;
  }
  footer {
    padding-top: 0;
    margin-top: -10%;
  }

  .grand-parent .main-content .edge-arrow {
    height: 40px;
    width: 20px;
    padding: 25px 5px;
  }
  .data-container {
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .data-container .wrapper {
    width: 48%;
    height: auto;
  }
}
@media (max-width: 991px) {
  .background {
    height: 80vh;
  }
  .data-container {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .data-container p {
    font-size: 14px;
  }
  .data-container .wrapper {
    width: 100%;
  }
}
@media (max-width: 780px) {
  .background {
    height: 70vh;
  }
  header .top-content img {
    margin-left: 5%;
    height: 45px;
  }
  header .top-content form {
    width: 130px;
  }

  footer {
    margin-top: -15%;
  }
  footer .second {
    padding-right: 200px;
  }
}
@media (max-wdith: 560px) {
  .background .get-started {
    margin-top: 20%;
  }
}
